$color-pack: false;

@import "~vuetify/src/styles/styles.sass";

$background-color: #f1f2da;
$light-white-color: #f9f9f0;
$light-red-color: #ffbbbb;
$main-red-color: #ff7777;
$main-orange-color: #ffce96;
$dark-color: #00303b;
