@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Klee+One:wght@600&display=swap");

$title-font: "Righteous";
$subtitle-font: "Klee One";
