<template lang="pug">
v-row(dense)
  v-col
    v-chip.rounded-0.px-2.px-sm-3(label outlined :small="$vuetify.breakpoint.xsOnly")
      span.dark.text-subtitle-2.text-sm-h6.mr-2 {{ allowedErrors }}
      v-icon.red fa-heart
</template>

<script>
export default {
  props: {
    playerUid: {
      type: String,
      required: true
    }
  },

  data: () => ({}),

  computed: {
    allowedErrors() {
      return this.$store.getters.maxFailures - this.$store.getters.playerFailures(this.playerUid);
    }
  }
};
</script>

<style scoped lang="scss">
i.v-icon.red {
  color: $main-red-color !important;
  background-color: inherit !important;
}

span.dark {
  color: $dark-color;
}
</style>
