<template lang="pug">
v-container
  v-row
    template(v-if="playerSelectedKeys")
      v-col.pa-1.col-12.col-sm-9.col-md-7.offset-md-1.col-lg-6.offset-lg-2.text-center
        #keyboard-wrapper.d-inline-block
          template(v-if="letterMode")
            .keyboard-row.text-center.text-caption.text-sm-subtitle-2.text-left(
              v-for="(keyboardRow, rowIndex) in CHARACTERS"
              :class="`ml-${rowIndex * 5}`"
            )
              .key.d-inline-block.px-1.py-0.py-sm-1.py-md-2.mx-0.mx-sm-1.my-1(
                v-for="key in keyboardRow"
                :class="selected(key) ? 'selected' : (alreadySelected(key) ? 'disabled' : null)"
                @click="alreadySelected(key) || gameEnded ? null : selectKey(key)"
              )
                | {{ key.toUpperCase() }}
          v-text-field.mx-3.rounded-0.text-center(
            v-else
            outlined
            hide-details
            :placeholder="placeholderWord"
            v-model="stringKey"
            @input="downcaseString"
          )
      v-col.col-12.col-sm-3.col-lg-2.align-self-center
        v-row(v-if="!gameEnded")
          v-col.align-self-center.col-5.col-sm-12.pb-sm-0(
            v-if="letterMode"
            :class="$vuetify.breakpoint.xsOnly ? 'text-right' : 'text-center'"
          )
            v-text-field.rounded-0.selected-key(
              v-model="selectedKey"
              readonly
              outlined
              solo
              flat
              hide-details
            )
          v-col.align-self-center(
            :class="$vuetify.breakpoint.xsOnly && letterMode ? 'text-left col-5' : 'text-center col-12'"
          )
            v-row(no-gutters)
              v-col.col-8
                v-btn.main-orange.rounded-0.px-0(
                  block
                  depressed
                  small
                  elevation=0
                  :disabled="!isUserTurn || sendingKey || !validKey"
                  :loading="sendingKey"
                  @click="sendKey()"
                ) Send
                template(v-slot:loader)
              v-col.col-4
                v-btn.dark.rounded-0.px-0(
                  block
                  depressed
                  small
                  elevation=0
                  :disabled="sendingKey"
                  @click="letterMode = !letterMode"
                )
                  v-icon(v-if="letterMode" small) fa-fill
                  v-icon(v-else small) fa-keyboard
    v-col.col-12.text-center(v-else)
      v-progress-circular(indeterminate)
</template>

<script>
const CHARACTERS = [
  ["q", "w", "e", "r", "t", "y", "u", "i", "o", "p"],
  ["a", "s", "d", "f", "g", "h", "j", "k", "l", "ñ"],
  ["z", "x", "c", "v", "b", "n", "m"]
];

export default {
  props: {
    userUid: {
      type: String,
      required: true
    }
  },

  data: () => ({
    CHARACTERS: CHARACTERS,

    letterMode: true,
    selectedKey: null,
    stringKey: "",

    sendingKey: false
  }),

  computed: {
    isUserTurn() {
      return this.$store.getters.isUserTurn;
    },

    stringLength() {
      return this.$store.getters.string.length;
    },

    validKey() {
      return (
        (!this.letterMode || this.selectedKey) &&
        (this.letterMode || this.stringKey.length === this.stringLength)
      );
    },

    playerSelectedKeys() {
      return this.$store.getters.playerSelectedKeys(this.userUid);
    },

    placeholderWord() {
      const playerString = this.$store.getters.playerString(this.userUid);
      const hiddenChar = this.$store.getters.hiddenChar;

      return this.$store.getters.string
        .split("")
        .map((character, index) => {
          return playerString[index] == hiddenChar ? hiddenChar : character;
        })
        .join(" ");
    },

    gameEnded() {
      return (
        !this.$store.getters.playingState ||
        this.$store.getters.playerWon(this.userUid) ||
        this.$store.getters.playerLost(this.userUid)
      );
    }
  },

  methods: {
    selectKey: function(key) {
      this.selectedKey = key.toUpperCase();
    },

    selected: function(key) {
      return this.selectedKey === key.toUpperCase();
    },

    alreadySelected: function(key) {
      return this.playerSelectedKeys.includes(key);
    },

    downcaseString: function() {
      this.stringKey = this.stringKey.toLowerCase();
    },

    currentKey: function() {
      return this.letterMode ? this.selectedKey.toLowerCase() : this.stringKey;
    },

    sendKey: function() {
      this.sendingKey = true;
      this.$store.dispatch("sendKey", { key: this.currentKey() });
      this.selectedKey = null;
      this.stringKey = "";

      // TODO: Wait for normal state and reset button
      setTimeout(() => {
        this.sendingKey = false;
      }, 200);
    }
  }
};
</script>

<style scoped lang="scss">
#keyboard-wrapper {
  width: 100%;
}

.key {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  border: solid 1px map-get($shades, "black");
  cursor: pointer;
  user-select: none;
  width: 7%;
  min-width: 20px;
  max-width: 50px;

  &.selected {
    cursor: default;
    color: map-get($shades, "white");
    border-color: $main-red-color;
    background-color: $main-red-color;
  }

  &.disabled {
    cursor: default;
    color: map-get($shades, "white");
    background-color: map-get($shades, "black");
  }
}

.selected-key {
  pointer-events: none;
  max-width: 60px;
  display: inline-block;
}

.v-text-field ::v-deep input {
  cursor: default;
  text-align: center;
  color: map-get($shades, "black");
}

.v-btn {
  &.dark {
    border-color: $dark-color !important;
    background-color: $dark-color;
    color: $light-white-color;
  }

  &.main-orange {
    border-color: $main-orange-color !important;
    background-color: $main-orange-color;
  }
}
</style>
