<template lang="pug">
v-container.col-10.col-sm-8.col-md-6.offset-1.offset-sm-2.offset-md-3
  v-row
    v-col(align="center")
      v-card
        v-card-title.text-h5(class="justify-center") Score
        v-card-subtitle {{ term }}
        v-card-text
          v-container
            v-row(v-for="player in sortedPlayers" :key="player.position")
              v-col
                v-card(outlined)
                  v-container
                    v-row
                      v-col
                        .d-inline-block.float-left.text-truncate
                          span(text-h4)
                            | {{ player.name }}
                        .d-inline-block.float-right
                          template(v-if="player.position === 1" )
                            v-icon(color="#ffd700") fa-trophy
                          template(v-else-if="player.position === 2 && player.position < playerCount")
                            v-icon(color="#c0c0c0") fa-trophy
                          template(v-else-if="player.position === 3 && player.position < playerCount")
                            v-icon(color="#cd7f32") fa-trophy
                          template(v-else)
                            v-icon fa-frown
        template(v-if="winner")
          v-divider
          v-card-actions
            v-container
              v-btn(@click="startNewGame" :disabled="startingNewGame" color="success")
                | New game
                v-progress-circular.ml-2(v-if="startingNewGame" :size="20" :width="3" indeterminate)
</template>

<script>
import * as firebase from "firebase";

export default {
  data: () => ({
    roomSubscription: null,

    startingNewGame: false
  }),

  mounted() {
    this.startCheckNewRoomInterval();
  },

  destroyed() {
    if (this.roomSubscription !== null) this.roomSubscription();
  },

  computed: {
    winner() {
      return this.$store.getters.game.player_cards[this.$store.getters.user.uid].position === 1;
    },

    term() {
      return this.$store.getters.game.string;
    },

    sortedPlayers() {
      return Object.fromEntries(
        Object.entries(this.$store.getters.playerCards).sort((card1, card2) => {
          return card1[1].position - card2[1].position;
        })
      );
    },

    playerCount() {
      return Object.keys(this.sortedPlayers).length;
    }
  },

  methods: {
    startNewGame: function() {
      this.startingNewGame = true;

      firebase
        .functions()
        .httpsCallable("rooms-createRoomFromGame")({
          gameUid: this.$store.getters.game.uid
        })
        .then(payload => {
          this.$store.commit("setGame", null);
          this.$store.commit("setRoom", payload.data.room);
        });
    },

    startCheckNewRoomInterval: function() {
      this.roomSubscription = firebase
        .firestore()
        .collection("rooms")
        .where("state", "in", ["open", "ready"])
        .where("member_uids", "array-contains", this.$store.getters.user.uid)
        .onSnapshot(snapshot => {
          if (snapshot.empty) {
            return;
          }
          const room = snapshot.docs[0];
          this.$store.commit("setGame", null);
          this.$store.commit("setRoom", { uid: room.id, ...room.data() });
        });
    }
  }
};
</script>

<style scoped lang="scss">
.text-truncate {
  max-width: 70%;
}
</style>
