<template lang="pug">
v-container.pt-0
  v-row
    v-col.pt-0.pb-2.text-center(
      :class="[{ 'victory': victory, 'defeat': defeat }]"
    )
      div
        .letter.py-1.px-0.px-sm-1.px-md-2.px-lg-3.mx-1.mx-sm-2(
          v-for="charIndex in stringLength"
          :key="charIndex"
          :class="string[charIndex - 1] == ' ' ? 'space' : ''"
        )
          template(v-if="playerString[charIndex - 1] != hiddenChar")
            span(
              v-if="covert"
              :class="[{ highlight: isLastSelected(string[charIndex - 1]) }, { space: string[charIndex - 1] == ' ' }, 'hidden']"
            )
              | {{ ' ' }}
            template(v-else) {{ string[charIndex - 1] }}
          template(v-else) {{ ' ' }}
      v-overlay(v-if="covert && showLastSelectedKey" :absolute="true")
        span.text-h5 {{ playerLastSelectedKey.toUpperCase() }}
</template>

<script>
const SHOW_LAST_INCORRECT_LETTER_TIME = 2000; // ms

export default {
  props: {
    playerUid: {
      type: String,
      required: true
    },
    covert: {
      type: Boolean,
      required: false,
      default: false
    }
  },

  data: () => ({
    showLastSelectedKey: false,
    hideLastSelectedKeyMethod: null
  }),

  computed: {
    hiddenChar() {
      return this.$store.getters.hiddenChar;
    },

    string() {
      return this.$store.getters.string;
    },

    stringLength() {
      return this.$store.getters.string.length;
    },

    playerString() {
      return this.$store.getters.playerString(this.playerUid);
    },

    playerSelectedKeys() {
      return this.$store.getters.playerSelectedKeys(this.playerUid);
    },

    playerLastSelectedKey() {
      return this.playerSelectedKeys.slice(-1)[0];
    },

    victory() {
      return this.$store.getters.playerWon(this.playerUid);
    },

    defeat() {
      return this.$store.getters.playerLost(this.playerUid);
    }
  },

  methods: {
    isLastSelected: function(key) {
      return this.playerLastSelectedKey === this.sanitize(key.toLowerCase());
    },

    // NOTE: This method should match the `sanitize` method on `functions`
    sanitize: function(string) {
      return string
        .normalize("NFD")
        .replace(/(?!\u0303)\p{Diacritic}/gu, "")
        .normalize("NFC")
        .toLowerCase();
    }
  },

  watch: {
    playerLastSelectedKey: function() {
      if (this.sanitize(this.string).includes(this.playerLastSelectedKey)) return;

      clearTimeout(this.hideLastSelectedKeyMethod);
      this.hideLastSelectedKeyMethod = setTimeout(() => {
        this.showLastSelectedKey = false;
      }, SHOW_LAST_INCORRECT_LETTER_TIME);

      this.showLastSelectedKey = true;
    }
  }
};
</script>

<style scoped lang="scss">
.letter {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-size: 180%;
  line-height: 30px;
  border-bottom: solid 2px;
  white-space: pre;
  display: inline-block;

  &.space {
    border-color: white;
  }

  span.hidden {
    border-top: solid 1px white;
    background-color: map-get($shades, "black");

    &.space {
      background: none;
    }

    &.highlight {
      background-color: map-get($green, "lighten-1");
    }
  }
}

.victory {
  border: solid 2px var(--v-success-base);
}

.defeat {
  border: solid 2px var(--v-error-base);
}
</style>
