<template lang="pug">
v-container.pa-0
  v-row
    v-col.col-10.col-md-6.col-lg-4.offset-1.offset-md-3.offset-lg-4(v-if="loggedIn && room")
      p#title.mt-n6.mt-sm-n8.mt-md-n9.text-center.text-h4.text-sm-h3.text-md-h2.text-md-h2
        | {{ room.game }}
      v-card
        v-container
          v-row(dense align="center")
            v-col.col-9.col-sm-8
              h2
                span(v-if="$vuetify.breakpoint.smAndUp")
                  | {{ "Room: " }}
                v-chip(label @click="copyRoomCode")
                  span.text-h6.text-sm-subtitle-1(ref="roomCode") {{ roomCode }}
                  v-icon(right) fa-copy
                v-snackbar(v-model="clipboardMessage" timeout=2000)
                  | {{ `Room code '${roomCode}' copied to clipboard` }}
                  template(v-slot:action="{ attrs }")
                    v-btn(text v-bind="attrs" @click="clipboardMessage = false")
                      | Close
            v-col.col-3.col-sm-4.text-right(
              v-if="room.game_starts_at !== null && gameStartCountDown != null"
            )
              template(v-if="$vuetify.breakpoint.smAndUp")
                | {{ "Starting... " }}
              v-progress-circular(
                rotate=-90
                size=28
                width=14
                :value="gameStartCountDown"
              )
          v-row
            v-col
              v-card
                v-list
                  template(v-for="(member, index) in roomMembers")
                    v-divider(v-if="index > 0")
                    v-list-item(:key="member.uid")
                      v-list-item-avatar
                        v-img(:src="gravatarUrl(member.avatar_hash)")
                      v-list-item-content
                        v-list-item-title
                          strong
                            | {{ member.name }}
                      v-list-item-icon(v-if="roomHost == member.uid")
                        v-chip(label)
                          v-icon(color="black") fa-crown
          v-row.mt-6(no-gutters)
            v-col.col-12.col-sm-6(:class="{ 'pr-1': $vuetify.breakpoint.smAndUp }")
              v-btn.orange.rounded-0(
                @click="startGame"
                :disabled="!hosting || !roomOpen"
                block
                large
              )
                | Start game
                v-icon(right) fa-gamepad
            v-col.col-12.col-sm-6(:class="{ 'pl-1': $vuetify.breakpoint.smAndUp }")
              v-btn.red.rounded-0(
                @click="leaveRoom"
                :disabled="!roomOpen"
                block
                large
              )
                | Leave room
                v-icon(right) fa-sign-out-alt
      v-card.mt-3(v-if="hosting")
        v-container
          v-btn(text block @click="toggleSettings")
            v-icon(color="black") fa-cogs
            span.pl-2.text-subtitle-1
              | Settings
            v-spacer
            v-icon(
              v-if="!this.startGamePressed"
              color="black"
            ) {{ showSettings ? "fa-chevron-up" : "fa-chevron-down"}}
          v-expand-transition
            div(v-show="showSettings")
              v-divider
              Settings(:editable="!this.startGamePressed", :setSettings="setSettings")

</template>

<script>
import * as firebase from "firebase";
import Settings from "../game/hangman/Settings.vue";

const COUNT_DOWN_UPDATE_INTERVAL = 400; // ms
const COUNT_DOWN_SECONDS = 5; // s
const MAX_PROGRESS = 100; // %

export default {
  components: {
    Settings
  },

  data: () => ({
    clipboardMessage: false,
    startGamePressed: false,
    gameStartCountDown: null,
    countDownTimeout: null,
    roomSubscription: null,
    gameSubscription: null,
    showSettings: true,
    settings: {}
  }),

  mounted() {
    this.createRoomSubscription();
    this.scheduleCountDownUpdate();
  },

  destroyed() {
    if (this.countDownTimeout !== null) clearTimeout(this.countDownTimeout);
    if (this.roomSubscription !== null) this.roomSubscription();
    if (this.gameSubscription !== null) this.gameSubscription();
  },

  computed: {
    loggedIn() {
      return this.$store.getters.loggedIn;
    },
    user() {
      return this.$store.getters.user;
    },
    room() {
      return this.$store.getters.room;
    },
    roomCode() {
      return this.room.code;
    },
    roomMembers() {
      return this.room.member_uids.map(uid => ({ uid: uid, ...this.room.member_data[uid] }));
    },
    roomHost() {
      return this.room.member_uids[0];
    },
    roomOpen() {
      return this.room.state == "open" && !this.startGamePressed;
    },
    hosting() {
      return this.roomHost == this.user.uid;
    }
  },

  methods: {
    gravatarUrl: function(hash) {
      return `https://www.gravatar.com/avatar/${hash}?d=identicon`;
    },
    copyRoomCode: function() {
      this.$copyText(this.roomCode).then(() => {
        this.clipboardMessage = true;
      });
    },
    leaveRoom: function() {
      firebase
        .functions()
        .httpsCallable("rooms-leaveRoom")({
          roomCode: this.roomCode,
          ...(this.user.guest && { guest: this.user })
        })
        .then(payload => {
          if (!payload.data.room) return;

          this.$store.commit("setRoom", null);
          this.$router.push({ name: "Home" });
        });
    },
    createRoomSubscription: function() {
      this.roomSubscription = firebase
        .firestore()
        .collection("rooms")
        .doc(this.room.uid)
        .onSnapshot(snapshot => {
          this.$store.commit("setRoom", { uid: snapshot.id, ...snapshot.data() });
        });
    },
    toggleSettings: function() {
      this.showSettings = !this.showSettings || this.startGamePressed;
    },
    setSettings: function(settings) {
      this.settings = settings;
    },
    startGame: function() {
      this.startGamePressed = true;
      this.showSettings = true;

      firebase.functions().httpsCallable("rooms-startGame")({
        roomCode: this.roomCode,
        settings: this.settings
      });
    },
    countDownTimer: function() {
      if (!this.room) return;
      if (!this.room.game_starts_at) {
        this.scheduleCountDownUpdate();
        return;
      }

      this.gameStartCountDown = Math.min(
        (MAX_PROGRESS *
          (COUNT_DOWN_SECONDS - (this.room.game_starts_at.seconds - this.$store.getters.now()))) /
          COUNT_DOWN_SECONDS,
        MAX_PROGRESS
      );

      this.gameStartCountDown < MAX_PROGRESS ? this.scheduleCountDownUpdate() : this.loadGame();
    },
    scheduleCountDownUpdate: function() {
      this.countDownTimeout = setTimeout(this.countDownTimer, COUNT_DOWN_UPDATE_INTERVAL);
    },
    loadGame: function() {
      this.gameSubscription = firebase
        .firestore()
        .collection("games")
        .where("state", "==", "playing")
        .where(`player_cards.${this.user.uid}.beacon`, "==", true)
        .onSnapshot(snapshot => {
          if (snapshot.empty) {
            return;
          }
          const game = snapshot.docs[0];
          this.$store.commit("setRoom", null);
          this.$store.commit("setGame", { uid: game.id, ...game.data() });
        });
    }
  }
};
</script>

<style scoped lang="scss">
#title {
  font-family: $title-font, monospace !important;
  color: $dark-color;
  background-color: $background-color;
}

button.v-btn {
  &.red {
    color: $dark-color !important;
    background-color: $main-red-color !important;
    border-color: $main-red-color !important;
  }

  &.orange {
    color: $dark-color !important;
    background-color: $main-orange-color !important;
    border-color: $main-orange-color !important;
  }
}

.v-dialog {
  max-width: 300px;
}
</style>
