<template lang="pug">
v-dialog(v-model="showForm" max-width="600px")
  template(v-slot:activator="{ on, attrs }")
    v-btn(
      color="warning"
      v-bind="attrs"
      v-on="on"
    )
      | Sign up
  v-card
    v-card-title(class="text-h4") Sign Up
    v-card-text
      v-container
        v-row
          v-col
            v-form(v-model="valid")
              v-text-field(
                v-model="input.nickname"
                label="Nickname"
                :counter="restrictions.maxNicknameLength"
                :rules="rules.nickname"
                required=""
              )
              v-text-field(
                v-model="input.email"
                label="E-mail"
                :rules="rules.email"
                required=""
              )
              v-text-field(
                v-model="input.password"
                label="Password"
                type="password"
                :rules="rules.password"
                required=""
              )
    v-card-actions
      v-btn(:disabled="!valid" color="success" type="submit" @click="submit")
        | Sign up
</template>

<script>
const MAX_NICKNAME_LENGTH = 20;

export default {
  data: () => ({
    showForm: false,
    valid: true,
    input: {},
    restrictions: {
      maxNicknameLength: MAX_NICKNAME_LENGTH
    },
    rules: {
      nickname: [
        v => !!v || "Nickname is required",
        v => (v && v.length <= MAX_NICKNAME_LENGTH) || "Nickname must be less than 20 characters"
      ],
      email: [v => !!v || "E-mail is required", v => /.+@.+\..+/.test(v) || "E-mail must be valid"],
      password: [v => !!v || "Password is required"]
    }
  }),

  methods: {
    submit: function() {
      this.$store.dispatch("signUp", {
        nickname: this.input.nickname,
        email: this.input.email,
        password: this.input.password
      });
    }
  }
};
</script>
